<ion-content>
  <div class="forgot-password-container">
    <h1>Esqueceu a Senha?</h1>
    <p>Insira seu email abaixo para receber as instruções de redefinição de senha.</p>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="sendResetEmail()">Enviar</ion-button>
    <ion-button expand="full" color="medium" routerLink="/login">Cancelar</ion-button>
  </div>
</ion-content>
