

<ion-content class="ion-padding">
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ul>  
      <ion-button  class="button-menu"><li>Agendar</li></ion-button>
      <ion-button class="button-menu"><li>Pesquisar</li></ion-button>
      <ion-button routerLink="/login" class="button-menu"><li>Logout</li></ion-button>
    
    </ul>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
   
      <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    
  </div>

   
  <div class="header">
    <h2>Agende seu horário</h2>
    <p>Qual cidade você está? <ion-icon name="information-circle-outline"></ion-icon></p>
  </div>


  <ion-item>
    <ion-label position="floating">Selecione a cidade</ion-label>
    <ion-select>
      <ion-select-option value="cidade1">Cidade 1</ion-select-option>
      <ion-select-option value="cidade2">Cidade 2</ion-select-option>
    </ion-select>
  </ion-item>


    <ion-button (click)="Barber1()" expand="full">Salão do Zé | Endereço | Contato</ion-button>
   

  
    <ion-button expand="full">Salão do galerão | Endereço | Contato </ion-button>

  
    
    <ion-button expand="full"> Barbearia Stylo | Endereço | Contato</ion-button>
  
  

  <ion-button expand="full">
    <ion-icon slot="start" name="calendar"></ion-icon>
    Agendar
  </ion-button>
</ion-content>

