ion-header {
    --background: #333;
    --color: #ffcc00;
}

ion-title{
    color: #ffcc00;
    font-family: cursive;
    text-align: center;

}
  
.header {
    text-align: center;
    color: #ffcc00;
}
  
ion-content {
    --background: #222;
    color: #ffcc00;
}
  
ion-item {
    --background: #444;
    --color: #ffcc00;
    margin-bottom: 10px;
}
  
ion-button {
    --background: #ffcc00;
    --color: #222;
}