<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Zé Barba</h1>
  <div class="form">
    <input type="text" class="input" name="email" placeholder="Email">
    <input type="password" class="input" name="senha" placeholder="Senha">
    <ion-button class="ion-button">Acessar</ion-button>
  </div>

</ion-content>
