<ion-content>
  <div class="login-container">
    <h1>ZéBarba</h1>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button class="login-button" id="signin-button" (click)="login()">Acessar</ion-button>
    <ion-button class="login-button" id="google-signin-button" (click)="googleLogin()">Login com Google</ion-button>
    <p class="signup-text">Esqueceu a senha?. <a href="/forgot-password">Clique aqui</a></p>
    <p class="signup-text">Não tenho uma conta. <a href="/registro">Toque para criar uma agora</a></p>
    <p class="signup-text">Quero entrar como barbeiro. <a href="/registrobarbeiro">Toque aqui</a></p>
  </div>
</ion-content>