<ion-content>
  <div class="signup-container">
    <h1>ZéBarba</h1>

    <h4>Cadastro</h4>
    
    <ion-item color="dark">
      <ion-input type="text" placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item color="dark">
    <ion-input type="tel" placeholder="Telefone"></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-input type="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-input type="text" placeholder="Endereço"></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-input type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-input type="password" placeholder="Confirmar Senha"></ion-input>
    </ion-item>

    <ion-button class="signup-button">Cadastrar</ion-button>
    <p class="login-text">Já tem uma conta? <a href="/login">Clique aqui para fazer login</a></p>
    </div>
</ion-content>