
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab1">
        <ion-icon slot="icon-only" name="arrow-back" class="arrow"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  


   
  <div class="image-placeholder"></div>
  <div class="content-area">
    <h2>Salão do galerão</h2>

<div>
      <h3>Serviços:</h3>
      <ul class="servicos">
        <li>Cortes profissionais</li>
        <li>Pezinho</li>
        <li>Maquina e tesoura</li>
        <li>Maquina</li>
        <li></li>
      </ul>
</div>
    <h3>Descrição</h3>
    <p>Especialista em cortes rapidos/horario marcado/baixo custo</p>
    <h3>Endereço/contato</h3>
    <p>Rua Ari Franco, 86</p>
    <p>CT: 00 99999-9889</p>
  </div>
  

  <ion-button class="agendar" routerLink="/agendamento">
    <ion-icon slot="start"  name="calendar"></ion-icon>
    Agendar
  </ion-button>
</ion-content>