<ion-content class="ion-padding">
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ul class="nav">
      <ion-button class="button-menu"><li>Agendar</li></ion-button>
      <ion-button class="button-menu"><li>Pesquisar</li></ion-button>
      <ion-button routerLink="/tabs/tab1" class="button-menu"><li>Home</li></ion-button>
    </ul>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-toolbar>
      <ion-title>ZéBarba</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div *ngIf="barbearia; else loading">
    <div class="content-area">
      <ng-container *ngIf="!isEditing; else editMode">
        <!-- Modo de visualização -->
        <h2>{{ barbearia.nome }}</h2>
        <div>
          <h3>Serviços:</h3>
          <ul class="servicos">
            <li *ngFor="let servico of barbearia.servicos">{{ servico }}</li>
          </ul>
        </div>
        <h3>Descrição</h3>
        <p>{{ barbearia.descricao }}</p>
        <h3>Endereço/Contato</h3>
        <p>{{ barbearia.endereco }}</p>
        <p>CT: {{ barbearia.contato }}</p>
  
        <!-- Botão de edição visível apenas para barbeiros -->
        <ion-button *ngIf="isBarbeiro" (click)="enableEditMode()" class="editar">
          <ion-icon slot="start" name="create"></ion-icon>
          Editar Informações
        </ion-button>
      </ng-container>
  
      <!-- Modo de edição -->
      <ng-template #editMode>
        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input [(ngModel)]="barbearia.nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Descrição</ion-label>
          <ion-textarea [(ngModel)]="barbearia.descricao"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Serviços (separados por vírgula)</ion-label>
          <ion-input [(ngModel)]="barbearia.servicos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Endereço</ion-label>
          <ion-input [(ngModel)]="barbearia.endereco"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contato</ion-label>
          <ion-input [(ngModel)]="barbearia.contato"></ion-input>
        </ion-item>
  
        <div class="buttons">
          <ion-button (click)="saveChanges()" color="success">
            <ion-icon slot="start" name="save"></ion-icon>
            Salvar
          </ion-button>
          <ion-button (click)="cancelEdit()" color="danger">
            <ion-icon slot="start" name="close"></ion-icon>
            Cancelar
          </ion-button>
        </div>
      </ng-template>
    </div>
  </div>
  
  <ng-template #loading>
    <div class="loading">Carregando informações...</div>
  </ng-template>
  
</ion-content>