<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ZéBarba</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="image-placeholder"></div>
  <div class="content-area">
    <h2>Salão do galerão</h2>
    <h3>Descrição</h3>
    <p>Especialista em cabelos lisos e cacheados/fazemos pintura, alisamento e descoloração</p>
    <h3>Endereço/contato</h3>
    <p>Rua dos limadore, 865</p>
    <p>CT:</p>
  </div>
</ion-content>