<ion-content class="ion-padding">
  <ion-menu side="start" contentId="main-content">
    <ion-header>
       
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ul class="nav">  
      <ion-button  class="button-menu"><li>Agendar</li></ion-button>
      <ion-button class="button-menu"><li>Pesquisar</li></ion-button>
      <ion-button routerLink="/tabs/tab1" class="button-menu"><li>Home</li></ion-button>
    
    </ul>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
   
      <ion-toolbar>
        <ion-title>ZéBarba</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    
  </div>

   
  <div class="image-placeholder"></div>
  <div class="content-area">
    <h2>Salão do galerão</h2>

<div>
      <h3>Serviços:</h3>
      <ul class="servicos">
        <li>Corte simples</li>
        <li>Pezinho</li>
        <li>Maquina e tesoura</li>
        <li>Maquina</li>
        <li></li>
      </ul>
</div>
    <h3>Descrição</h3>
    <p>Especialista em cabelos lisos e cacheados/fazemos pintura, alisamento e descoloração</p>
    <h3>Endereço/contato</h3>
    <p>Rua dos limadore, 865</p>
    <p>CT: 00 99999-9999</p>
  </div>
  

  <ion-button class="agendar" routerLink="/agendamento">
    <ion-icon slot="start"  name="calendar"></ion-icon>
    Agendar
  </ion-button>
</ion-content>