
.cadastrar{
    --background: #ffcc00;
}

.Voltar{
    --background: #ffcc00;
}

.input{
    
    border: solid #ffcc00;
    width: 330px;
    height: 60px;
    border-radius: 10px;
    gap: 10px;
    color: white;
  
}
.container{
    
    color: white;
    flex-direction: column;
    justify-content: center2;
    display: flex;
     ion-title{
        color: white;
     }


}