<ion-header>
  <ion-toolbar>
    <ion-title>ZéBarba - Apresentação do Grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let person of people">
        <ion-card>
          <ion-card-content class="card-content">
            <ion-card-title class="person-name">{{ person.name }}</ion-card-title>
            <div class="content">
              <ion-img [src]="person.photo" alt="Foto de {{ person.name }}" class="person-photo"></ion-img>
              <div class="person-info">
                <p>Idade: {{ person.age }}</p>
                <p>Turma: {{ person.turma }}</p>
                <p>Matrícula: {{ person.matricula }}</p>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
