<ion-header>
  <ion-toolbar>
    <ion-title>ZéBarba - Apresentação do Grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let person of people">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ person.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="person.photo" alt="Foto de {{ person.name }}"></ion-img>
            <p>Idade: {{ person.age }}</p>
            <p>Cargo: {{ person.role }}</p>
            <p>Email: {{ person.email }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
